<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <meta name="author" content="">
    <meta name="description" content="{{page.title}}">
    <meta name="keywords" content="">
    <title>Template - {{page.title}}</title>
    <link rel="icon" type="image/png" href="img/favicon.ico">
    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>
    {% block content %} {% endblock %}
    <!-- SCRIPTS -->
    <script src="assets/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="assets/js/swiper.min.js"></script>
    <script type="text/javascript" src="assets/js/index.js"></script>
</body>

</html>